<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Free CRM Application Automation Test Suites">


<!-- <listeners>
	<listener class-name="com.crm.qa.extentReportListener.ExtentReporterNG" />	
</listeners> -->

	<test name="Free CRM APP Test Cases">	
	<classes>		
		<!-- <class name="com.crm.qa.testcases.LoginPageTest"></class>
		<class name="com.crm.qa.testcases.HomePageTest"></class>
		<class name="com.crm.qa.testcases.ContactsPageTest"></class> -->
		<!-- <class name="com.crm.qa.testcases.TasksPageTest"></class> -->
		
		
	</classes>
	</test>
</suite>